.form-field {
    font-size: inherit;
    margin: 15px auto;
    padding: 12px 20px;
    width: 100%;
    background-color: #f8f6ff;
    color: black;
    border-radius: 5px;
    display: block;
}
.hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    color: #000033;
}
.required {
    color: red;
    font-size: 1.7em;
}
.email_label {
    font-size: 1.1em;
    color: white;
}
.input_label {
    font-size: 1em;
    color: white;
    margin: 0.7em 0;
}
.background {
    background: radial-gradient(
        circle,
        rgba(10, 27, 96, 1) 19%,
        rgba(12, 16, 46, 1) 40%,
        rgba(0, 0, 30, 1) 50%
    );
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 100px;
}
