.form-field {
  font-size: inherit;
  margin: 15px 0;
  padding: 12px 20px;
  width: 100%;
  background-color: #f8f6ff;
  color: black;
  border-radius: 5px;
  display: block;
}
.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  color: #000033;
}
.required {
  color: red;
  font-size: 2em;
}
.email_label {
  font-size: 1.1em;
  color: white;
}
.input_label {
  font-size: 1em;
  color: white;
}