.container {
  background: rgb(10, 27, 96);
  background: radial-gradient(circle, rgba(10, 27, 96, 1) 19%, rgba(12, 16, 46, 1) 44%, rgba(0, 0, 30, 1) 66%);
  width: 100%;

}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.card {
  font-size: medium;
  height: 300px;
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(50% - 40px);
  align-items: center;
  margin: 10px 20px;
  padding: 10px 20px;
  align-self: normal;
  border-radius: 30px;
  background: rgba(62, 48, 103, 0.6);
  backdrop-filter: blur(20px);
}

.title {
  color: whitesmoke;
  font-size: 25px;
  margin: 10px;
  font-weight: bold;
}

.button {
  background-color: transparent;
  color: #7225f8;
  padding: 10px 20px;
  border: 2px solid #7225f8;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin: 20px;
  margin-top: auto;
  display: inline-block;
}

.button:hover {
  background-color: #661ae6;
  color: white;
}

.checkpoints {
  text-align: left;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.checkpoints li {
  margin-bottom: 5px;
  list-style-type: none;
}

.checkpoints li:before {
  content: "✓";
  color: whitesmoke;
  margin-right: 5px;
}

.heading {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}