.section {
  display: flex;
  flex-direction: column;
}
.section:first-of-type {
  min-height: 100vh;
  padding: 0;
}
.section:first-of-type
/*, .section:last-of-type*/
{
  background: #000033;
  color: #eee;
  background: radial-gradient(circle,
    rgba(0,0,75,1) 0%,
    rgba(0,0,60,1) 75%,
    rgba(0,0,45,1) 100%
  );
}