/* LegalPages.module.css */
.container {
    padding: 2rem;
}

.heading {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.subheading {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.paragraph {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.list {
    list-style: inside;
    margin-bottom: 1rem;
}
